/* PALETA DE COLORES */
:root {
    --salmon: #ff5252;
    ;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
}

.toast-message {
    border: 2px solid red;
    /* Change the border properties as desired */
    /* Add other styling properties as needed */
}

.footer {
    background-color: var(--dark-yellow);


    && .foot-donarlibros {
        color: var(--violet);

        && .donar-foot-btn:hover {
            background-color: var(--dark-orange);
        }

        && .donar-foot-btn {
            background-color: var(--violet);
            color: white;
            border: none;
            width: 15vh;
            font-size: large;
        }
    }

    .foot-copy {
        background-color: var(--orange);
    }
}

/* TOASTY */

.Toastify__close-button--light {
    color: #fff !important;
}

.Toastify__toast-theme--light {
    background-color: var(--bs-gray-800) !important;
    color: #fff !important;
    font-size: large !important;
}