/* PALETA DE COLORES */
:root {
    --salmon: #ff5252;
    ;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
}


.footer{
        background-color: var(--dark-yellow);
        

    && .foot-donarlibros{
        color: var(--violet);

        && .donar-foot-btn:hover {
            background-color: var(--dark-orange);
        }
    
        && .donar-foot-btn{
            background-color: var(--violet);
            color: white;
            border: none;
            width: 15vh;
            font-size: large;
        }
    }

    .foot-copy{
        background-color: var(--orange);
    }
}