:root {
    --salmon: #ff5252;
    ;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
}


.card-libro {
    padding: 0px;
    height: 70vh; /* Altura fija para la tarjeta */

    && .libro-img {
        width: 100%; /* Ocupa el ancho completo del contenedor */
        height: 100%;; /* Ocupa el alto completo del contenedor */
        object-fit: cover;
      }
}



.texto-morado {
    color: var(--violet);
}

.tarjeta{
    align-items: center;
    width: 300px;
}