:root {
  --salmon: #ff5252;
  --dark-orange: #ff7752;
  --orange: #ff9a52;
  --dark-yellow: #ffb752;
  --violet: #5e405b;
}

.login-box {
  color: var(--violet);
  font-size: larger;


  && .boton-iniciarsesion {
    background-color: var(--dark-orange);
    color: white;
    font-size: large;
    width: 20vh;
  }

  && .boton-iniciarsesion:hover {
    background-color: var(--violet);
  }

  && .text-iniciarsesion {
    color: var(--dark-orange);
  }

  && .text-userpass {
    font-size: larger;
    font-weight: 500;
    color: var(--violet);
  }

  && .form-box{
    text-align: -webkit-center;
  }

  && .input-texto{
    width: 35vh;
  }

  && .input-texto:focus{
    border-color: var(--dark-orange);
    box-shadow: 0 0 5px var(--dark-orange)
  }

  && .input-texto:hover{
    border-color: var(--dark-orange);
}

  && .card{
    width: 50vh;
    align-items: center;
  }
}