/* PALETA DE COLORES */
:root {
    --salmon: #ff5252;;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
  }
.navbar{
    display: flex;
    place-content: space-between;
    align-items: center;
}

#free-solo-demo{
    width: 500px;
}

.negrita{
    color: darkslategray;
}

.titulonavbar{
    margin-left: 10vh;
    font-size: xx-large;
    font-weight: bold;
}

.menuusuario{
    margin-right: 3vh;
}