/* PALETA DE COLORES */
:root {
    --salmon: #ff5252;;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
  }
.navbar{
    display: flex;
    place-content: space-between;
    align-items: center;
    border-radius: 0%;
    background-color: #ff9a52;
    margin-top: 0%;
    padding: 2vh;
}

#free-solo-demo{
    width: 500px;  
    color: red;
}
.Mui-focused{
    border-color: yellowgreen !important;
}

.buscador{
    background-color: white;
}

.negrita{
    color: darkslategray;
}

.titulonavbar{
    font-size: xx-large;
    font-weight: bold;
    color: var(--violet);
}

.menuusuario{
    margin-right: 3vh;
}

.monedas{
    color: white;
}