:root {
    --salmon: #ff5252;
    ;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
}

.navbar-cat{
    padding: 3vh;
    background-color: var(--violet);
    justify-content: center;
}

.botones{
    color: white;
}