:root {
    --salmon: #ff5252;
    ;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
}

.navbar-violet {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    background-color: var(--violet);
    padding: 2vh;

    && .boton-categoria {
        color: white;
        font-weight: 400;
        font-size: larger;
    }

    && .boton-categoria:hover {
        color: var(--dark-yellow);
        font-weight: 400;
    }

    && .categoria-naranja {
        color: var(--dark-yellow);
        font-size: larger;
        text-decoration: underline;
        text-underline-offset: 1rem;
    text-decoration-thickness: -1.8em;
    }
}