:root {
    --salmon: #ff5252;
    ;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
}

p, h5 {
    color: var(--violet);
}

.card {
    padding: 0px;
}

.tamano {
    max-width: 200px;
}