/* PALETA DE COLORES */
:root {
    --salmon: #ff5252;
    ;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
}

/*
.custom-color-1 {
    background-color: 
}
.custom-color-2 {
    background-color: #ff7752;
}
.custom-color-3 {
    background-color: #ff9a52;
}
.custom-color-4 {
    background-color: #ffb752;
}
.custom-color-5 {
    background-color: #5e405b;
}
*/

.fndo-naranja {
    background-color: var(--dark-yellow);
    ;
    height: 80px;
    align-items: center;
}


.container {
    margin: 0px;
}

li {
    list-style: none
}

.text{
    color: var(--violet);
}

ul{
    list-style-type: none;
}

.footer-text{
    text-align: end;
}

.row {
    margin-right: 0px;
}