:root {
    --salmon: #ff5252;
    --dark-orange: #ff7752;
    --orange: #ff9a52;
    --dark-yellow: #ffb752;
    --violet: #5e405b;
}

.donaciones-box {
    color: var(--violet);
    font-size: larger;
    margin-bottom: 10vh;    


    && .boton-donacion {
        background-color: var(--dark-orange);
        color: white;
        font-size: large;
        width: 20vh;
    }

    && .boton-donacion:hover {
        background-color: var(--violet);
    }

    && .text-donacion {
        color: var(--dark-orange);
    }

    && .text-donacionesinputs {
        font-size: larger;
        font-weight: 500;
        color: var(--violet);
    }

    && .form-box {
        text-align: -webkit-center;
    }

    && .input-texto {
        width: 50vh;
    }

    && .input-texto:focus {
        border-color: var(--dark-orange);
        box-shadow: 0 0 5px var(--dark-orange)
    }

    && .input-texto:hover{
        border-color: var(--dark-orange);
    }

    && .card {
        width: 130vh;
        align-items: center;
    }
}